    <div class="main home">
      <div class="jumbotron">
        <div class="container">
          <h2>Welcome to<span class="highlight">Celso's Blog</span> and my subjective point of views I know you are sure to love.</h2><a class="btn right" href="/posts">View my Posts</a>
        </div>
      </div>
    </div>
