    <div class="main home">
      <div class="jumbotron">
        <div class="container">
          <h2>Hello. My name is <span class="highlight">Celso Silva</span> and I build extra ordinary websites</h2><a class="btn right" href="/posts">View my Posts</a>
        </div>
      </div>
    </div>
