<div class="footer">
  <div class="container">
  <ul class="social_media">
    <li><a class="icon github" href="#">github</a></li>
    <li><a class="icon linkedin" href="#">linkedin</a></li>
    <li><a class="icon twitter" href="#">twitter</a></li>
  </ul>
  <p>2018 Celso Silva</p>
  </div>
</div>
